    @font-face {
      font-family: "FontFrente";
      src: url("FontFrente.otf") format("opentype");
      font-weight: normal;
      font-style: normal;
    }

    body {
      background-image: url('image1blured.png');
      background-size: cover;
      background-position: center;
      margin: 0;
      font-family: "FontFrente", sans-serif;
      background-color: #000000;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 0 10%;
    }

    .content {
      text-align: center;
/*       padding: 0 20px; */
    }

    .content h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .content p {
      font-size: 18px;
    }

    .content a {
      color: #ffffff;
      text-decoration: none;
    }

    .content a:hover {
      text-decoration: underline;
      color: #000000;
    }

    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #000000;
      color: white;
      text-align: center;
      padding: 10px 0;
      font-size: 14px;
    }